[package]
name = "gpui-app"
version = "0.1.0"
edition = "2021"

[dependencies]
gpui = { git = "https://github.com/zed-industries/zed", rev = "ZED_PINNED_REV" }
gpui_platform = { git = "https://github.com/zed-industries/zed", rev = "ZED_PINNED_REV", features = ["font-kit", "wayland", "x11"] }
